.formControl{
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.01);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    h2{
        text-align: center;
    }

    button{
        width: 100%;
        margin-top: 10px;
        cursor: pointer;
    
        &:hover{
            background-color: #01a3a3;
        }
    }

    input, textarea{
        width: 100%;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-family: unset;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 5px 0;

        &:focus,
        &:active{
            // border: 2px solid #008080;
            outline: 2px solid #008080;
            background-color: #e0eeee;
        }

        &[type=file]{
            border: none;
            outline: none;
        }
    }
    textarea{
        width: 100%;
    }
    input[type=file]{
        width: fit-content;
    }

    figure{
        padding: 0;
        margin: 20px auto;
        .previewImage{
            width: 40%;
            margin: 0;
        }
    }

    
}